<div>

	<div class="container">
		<div class="row">
			<h3>Connect with someone who has been through a hysterectomy</h3>
		</div>
		<div class="row">
			<div ng-repeat="mentor in mentors">
				<div class="col s4">
					<div class="clickable card" ng-click="selectProfile(mentor)">
						<div class="card-image">
							<img src="{{mentor.photo}}">
						</div>
						<div class="card-title black-text mentorName">{{mentor.name}} - {{mentor.age}}</div>
						<div class="card-content">
							<p>{{mentor.date}}, {{mentor.type}}</p>
							<p>Additional Surgeries: {{mentor.additionalSurgeries}}</p>
							<p>Recovery: {{mentor.recoveryPeriod}}</p>
							<div ng-show="mentor.hormone">Hormone Replacement</div>	
						</div>						
					</div>
				</div>
			</div>
		</div>
		<center>
		<div class = "row">
			<p> Want better matches?</p>
			<button ng-click="profileCreation()" class = "btn waves-effect waves-light pink">  Tell us more about yourself! </button>		
		</div>
		</center>
	</div>

</div>

</div>
