<div>
	<h1>Select someone to chat with</h1>
	<div class="container">
		<div class="row">
			<div ng-repeat="mentor in mentors">
				<div class="col s4">
					<div class="card">
						<div>{{mentor.photo}}</div>
						<div>{{mentor.name}}</div>
						<div>{{mentor.age}}</div>					
						<div>{{mentor.type}}</div>
						<div>{{mentor.additionalSurgeries}}</div>
						<div>{{mentor.recoveryPeriod}}</div>
						<div>{{mentor.hormone}}</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<p> Want better matches? Give us more information </p>
</div>