.time {
    font-size: 0.75em;
    float: right;
}

.partner {
	text-align: left;
}

.user {
	text-align: right;
}

.clickable:hover {
	box-shadow: 10px 10px 5px grey;
}

.clickable {
	border-radius: 15px !important;
}

.saveButton {
	font-size: 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	margin: 0px;
}

.mentorName {
	font-weight: bold !important;
}

.pinkButton {
	background-color: #ee6e73 !important;
}