<head>

</head>
<div ng-cloak>
	<div class="row">
		<center>
			<br><br><br><br><br><br>
			<img src="{{userDetails.photo}}" alt="This user hasn't uploaded a photo yet!">
			<h1 style="text-align: center;">{{userDetails.name}} - {{userDetails.age}}</h1>
			<div class="chip">
				Tags Here
			</div>
			<div class="chip">
				Tags Here
			</div>
			<div class="chip">
				Tags Here
			</div>
			<div class="chip">
				Tags Here
			</div>
			<h5>{{userDetails.type}} hysterectomy</h5>
			<h5>Additional Surgeries: {{userDetails.additionalSurgeries}}</h5>
			<h5>Recovery: {{userDetails.recoveryPeriod}}</h5>
			<div ng-show="userDetails.hormone">Hormone Replacement</div>
			<button ng-click="chat(userDetails.id)" class="btn waves-effect waves-light" type="submit" name="action">Chat with {{userDetails.name}}
			</button>
		</center>
	</div>
</div>