<div ng-cloak>
		<div class="row">
			<div>{{userDetails.photo}}</div>
			<div style="text-align: center;">{{userDetails.name}}</div>
			<div style="text-align: center;">{{userDetails.age}}</div>
			<div>{{userDetails.type}} hysterectomy</div>
			<div>Additional Surgeries: {{userDetails.additionalSurgeries}}</div>
			<div>Recovery: {{userDetails.recoveryPeriod}}</div>
			<div ng-show="userDetails.hormone">Hormone Replacement</div>
		</div>
		<div class="row">
			<button ng-click="chat(userDetails.id)"> Chat with {{userDetails.name}} </button>
		</div>
	</div>
</div>