<div>
	<div class="container">
		<div class="row" style="height:100vh;">
			<div class="col s3 pane" style="height:100vh;border-right: solid #000;">
				<div style="height:40%;">
					<h2>{{partner.name}}</h2>
					<h5>{{partner.photo}}</h5>
					<h5>{{partner.type}}</h5>
					<h5>{{partner.additionalSurgery}}</h5>
				</div>
				<div>
					<h3>Saved Notes</h3>
					<div ng-repeat="note in notes" style="height:60%;">
						<p> {{note}} </p>
					</div>
				</div>
			</div>
			<div class="col s9 chatbox" style="height:100vh;padding-left: 15px;">
				<div class="row chat" style="overflow:auto;max-height:80vh;width:60vh">
					<ul id="messages">
						<li ng-repeat="message in messages"> 
							<span class="{{message.sender}}">
								<p>
									{{message.text}}
								</p>
								<button ng-click="saveNote($event)">save</button>
							</span>							
						</li>
					</ul>
				</div>
				<div class="chat interface" style="position:absolute;bottom:0;width:60vh;">
					<div class="row suggestions">
						<span ng-repeat="suggestion in suggestions" class = "col s3">
							<p>{{suggestion}}</p>
						</span>
					</div>
					<div class = "row chatbox">
						<div class = "input-field col s11">
							<input ng-keypress="sendViaEnter($event)" placeholder="send a message" type="text" class="validate" id = "chatbox"/>
						</div>
						<div ng-click="sendViaClick()" class = "col s1">
							<button>send</button>
						</div>
					</div>
					<div class = "stickers">
						<span ng-repeat = "sticker in stickers">
							<img src ={{sticker.src}}/>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>