<div ng-cloak>
	<!-- TODO: add skip to almost all in smaller lettering -->
	<section flex layout="row" ng-show="step==0">
		<button ng-click="progressFromStart(true)">I'm having a hysterectomy</button>
		<button ng-click="progressFromStart(false)">I've had a hysterectomy</button>		
	</section>
	<section flex layout="row" ng-show="step==1" >
		<button ng-click="progressFromAge(30)">I'm under 30</button>
		<button ng-click="progressFromAge(40)">I'm older than 30 but younger than 40</button>		
		<button ng-click="progressFromAge(50)">I'm older than 40 but younger than 50</button>		
		<button ng-click="progressFromAge(60)">I'm older than 50 but younger than 60</button>		
		<button ng-click="progressFromAge(100)">I'm older than 60</button>
	</section>
	<section flex layout="row" ng-show="step==2 && !main.user.currPatient">
		<button ng-click="progressFromType()">I had a total hysterectomy</button>
		<button ng-click="progressFromType()">I had a supracervical hysterectomy</button>
		<button ng-click="progressFromType()">I had a radical hysterectomy</button>	
		<button ng-click="progressFromType()">I don't know what kind of hysterecomy I had</button>
	</section>
	<section flex layout="row" ng-show="step==2 && main.user.currPatient">
		<button ng-click="progressFromType()">I'm having a total hysterectomy</button>
		<button ng-click="progressFromType()">I'm having a supracervical hysterectomy</button>
		<button ng-click="progressFromType()">I'm having a radical hysterectomy</button>	
		<button ng-click="progressFromType()">I don't know what kind of hysterecomy I'm having</button>
	</section>	
	<section flex layout="row" ng-show="step==3 && !main.user.currPatient">
		<p> What additional surgeries did you have? </p>
		<button ng-click="progressFromAdditionalSurgeries()">next</button>
	</section>
	<section flex layout="row" ng-show="step==3 && main.user.currPatient">
		<p> what additional surgeries are you having? </p>
		<button ng-click="progressFromAdditionalSurgeries()">next</button>
	</section>	
	<section flex layout="row" ng-show="step==4 && !main.user.currPatient">
		<button ng-click="progressFromRecovery()">My recovery period was a few days long</button>
		<button ng-click="progressFromRecovery()">My recovery period was a few weeks long</button>	
		<button ng-click="progressFromRecovery()">My recovery period was months long</button>	
	</section>		
	<section flex layout="row" ng-show="step==4 && main.user.currPatient">
		<button ng-click="progressFromRecovery()">My recovery period should be a few days long</button>
		<button ng-click="progressFromRecovery()">My recovery period should be a few weeks long</button>
		<button ng-click="progressFromRecovery()">My recovery period should be months long</button>	
		<button ng-click="progressFromRecovery">I don't know how long my recovery period will be</button>
	</section>	
	<section flex layout="row" ng-show="step==5 && !main.user.currPatient">
		<button ng-click="progressFromHormone()">I had hormone replacement</button>
		<button ng-click="progressFromHormone()">I did not have hormone replacement</button>		
	</section>		
	<section flex layout="row" ng-show="step==5 && main.user.currPatient">
		<button ng-click="progressFromHormone()">I'm going to have hormone replacement</button>
		<button ng-click="progressFromHormone()">I'm not going to have hormone replacement</button>	
		<button ng-click="progressFromHormone()">I'm not sure</button>		
	</section>					
</div>