<div>
	<!-- TODO: add skip to almost all in smaller lettering -->
	<section flex layout="row">
		<button>I'm having a hysterectomy</button>
		<button>I've had a hysterectomy</button>		
	</section>
	<section flex layout="row">
		<button>I'm under 30</button>
		<button>I'm older than 30 but younger than 40</button>		
		<button>I'm older than 40 but younger than 50</button>		
		<button>I'm older than 50 but younger than 60</button>		
		<button>I'm older than 60</button>
	</section>
	<section flex layout="row">
		<button>I had a total hysterectomy</button>
		<button>I had a supracervical hysterectomy</button>
		<button>I had a radical hysterectomy</button>	
		<button>I don't know what kind of hysterecomy I had</button>
	</section>
	<section flex layout="row">
		<button>I'm having a total hysterectomy</button>
		<button>I'm having a supracervical hysterectomy</button>
		<button>I'm having a radical hysterectomy</button>	
		<button>I don't know what kind of hysterecomy I'm having</button>			
	</section>	
	<section flex layout="row">
		<!-- what additional surgeries did you have?-->	
	</section>
	<section flex layout="row">
		<!-- what additional surgeries are you having?-->	
	</section>	
	<section flex layout="row">
		<button>My recovery period was a few days long</button>
		<button>My recovery period was a few weeks long</button>	
		<button>My recovery period was months long</button>	
	</section>		
	<section flex layout="row">
		<button>My recovery period should be a few days long</button>
		<button>My recovery period should be a few weeks long</button>
		<button>My recovery period should be months long</button>	
		<button>I don't know how long my recovery period will be</button>		
	</section>	
	<section flex layout="row">
		<button>I had hormone replacement</button>
		<button>I did not have hormone replacement</button>		
	</section>		
	<section flex layout="row">
		<button>I'm going to have hormone replacement</button>
		<button>I'm not going to have hormone replacement</button>	
		<button>I'm not sure</button>		
	</section>					
</div>