<div ng-cloak>
	<div class="container">
		<div class="row">
			<h1> Welcome to</h1>
			<h2> Hysterconnectomy </h2>
			<p> Connect with someone who has been through this before, or be there for someone else </p>
		</div>
		<div class = "row">
			<div class="col s6">			
				<div class="clickable card small pink lighten-4" ng-click="selectPatientType(true)">
					<div class="card-content white-text">
						<span class="card-title" >I'm Looking for Support</span>
						<br><br>
						<p>I'm pre-op or post-op and I would like someone to talk to</p>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="clickable card small pink lighten-4" ng-click="selectPatientType(False)">
					<div class="card-content white-text">
						<span class="card-title">I Want to Provide Support</span>
						<br><br>
						<p>I've undergone a hysterectomy and am willing to answer questions</p>
					</div>
				</div>
			</div>			
		</div>	
	</div>
</div>