<div ng-cloak>
	<div class="container">
		<div class="row" style="position:relative;overflow:hidden;">
			<div class="black-text" style="padding: 70px;position: relative;z-index: 2;">
				<center>
				<br>
				<h3 style="font-weight: bold;"> Welcome to Hysterconnectomy </h3>
					<p style="font-weight: bold; font-size: 18px;"> Find experienced big sisters who can support you through your hysterectomy<br> Or share your wisdom with little sisters to build a lasting bond</p>
				</center>
			</div>
			<img src="../../images/Background.jpg" style="position: absolute;left: 0;top: 0;width: 100%;height: auto;opacity: 0.6;">
		</div>
		<center>
			<h2>Join the Community</h2>
			<p>Choose the one that best describes you</p>
		</center>
		<div class = "row">
			<div class="col s6">			
				<div class="clickable card small pink lighten-4" ng-click="selectPatientType(true)">
					<div class="card-content white-text">
						<span class="card-title"><h5>I'm Looking for Support</h5></span>
						<br><br>
						<p>I'm pre-op or post-op and I would like someone to talk to</p>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="clickable card small pink lighten-4" ng-click="selectPatientType(false)">
					<div class="card-content white-text">
						<span class="card-title"><h5>I Want to Provide Support</h5></span>
						<br><br>
						<p>I've undergone a hysterectomy and am willing to answer questions</p>
					</div>
				</div>
			</div>			
		</div>	
	</div>
</div>